
.logoDiv{
    background-color: #7096e4;
    color: rgb(28, 33, 44);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px 0 0 40px;
    cursor: pointer;
}